* {
	font-family: 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

@font-face {
	font-family: "Lato-Regular";
	src: url('polices/Lato-Regular.ttf');
}

html {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #232830;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

.bigavatar {
		width: 300px;
    border-radius: 50%;
    border: 5px #1972F5 solid;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    display: block;
    margin: auto;
    overflow: hidden;
		background-color: #2C2F33;
}

.toptext h1 {
	color: #23272A;
	font: 700 48px Times New Roman, Times, serif;
	font-size: 50px;
}

.toptext h3 {
	color: white;
}

footer {
	bottom: 0;
  position: relative;
  background: rgba(255, 255, 255, .05);
  width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100%;
}

@media screen and (max-height: 800px) , screen and (max-width: 700px) {

	.bigavatar {
		width: 250px;
	}

	.toptext h1 {
		font-size: 40px;
	}

	.icon a i {
		font-size: 20px;
		padding: 7px;
	}

}

@media screen and (max-width: 700px) {
	.wb_button {
		width: 100px !important;
	}
	.bigavatar {
		width: 230px;
	}

	.toptext h3 span {
		font-size: 25px;
	}
}

@media screen and (max-width: 900px) {
	.top {
		padding: 20px !important;
	}
}

.pink {
	color: #23272A;
}

.blue {
	color: #1972F5;
}

footer span {
	color: white;
	padding: 5px;
}

.toptext {
	text-align: center;
}

.topbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbuttons div {
	padding: 5px;
}

.stats img {
  display: block;
  margin: auto;
  width: 300px;
  margin: -40px auto -30px auto;
  overflow: hidden;
}

.stats {
  overflow: hidden;
}

.haut {
  margin: 300px;
  color: black;
  padding: 10px;
}

.top {
	padding: 30px;
}

.block {
	display: block;
}

.icon {
	padding: 20px;
}

.icon a i {
	color: white;
	font-size: 30px;
	padding: 10px;
	background-color: #232830;
	transition: 0.3s;
	border-radius: 5px;
}

.icon a i:hover {
	cursor: pointer;
}

.github a i:hover {
	background-color: black;
}

.patreon a i:hover {
	background-color: rgb(249, 104, 84);
}

.docs a i:hover {
	background-color: #23272A;
}

.links {
	display: flex;
}

.stats {
	margin: 10px;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	opacity: 0.1;
	top: 0;
	left: 0;
}
