---
title: Home
---

<html>
  {% include header.html %}

  <body>

    <canvas id="canvas"></canvas>
    <script type="text/javascript">
      backgroundEffect('canvas');
    </script>

    <div class="top">
    <a href="https://github.com/CarnezEnzo/" target="_blank">
      <img class="bigavatar" src="./images/avatar.png"></a>
    </div>
    <div class="toptext">
      <h3><span class="blue">CARNEZ Enzo</span><span> - Portfolio</span></h3>
      <h1><span>Développeur</span></h1>
    </div>

    {% include footer.html %}

  </body>

</html>
